.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form{
height: 100px;
width: auto;

}
.Label{
  font-size: 1.2rem;
    margin-bottom: 0.2rem;
    text-transform: uppercase;
}
.input{
  font-size: 1.6rem;
    padding: 0.5rem 2rem;
    line-height: 2.8rem;
    border-radius: 20px;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    margin-top: 100px;
}
.custombtn{
  background-color: rgba(0,0,0,0.75);
    color: white;
    padding: 1rem 2rem;
    border: 1px solid rgba(0,0,0,0.75);
    border-radius: 20px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 250ms;
    margin-left: 10px;
    margin-top: 99px;
}
body{
  background-color: #111 !important;
}
.btn:hover {
  background-color: rgba(0,0,0,0.85);
}
body .bg-dark{
  background-color:black !important;
}
.carousel-inner > .carousel-item > img {
  height: 100vh;
}
.carousel-inner > .carousel-Caption> Card {
  height: 100px !important;
  width: 150px !important;
}
.card-list{
  display: flex;
}
.Card{
  background-color: rgba(19, 18, 18, 0.75) !important;
  color: white !important;
  display: flex;
  text-align: left;
  justify-content: left;
  width: 500px;
}
.pos{
  margin-bottom: 40px!important;
  margin-left: -50px!important;
}
.vimg{
  height: 300px !important;
  width: auto !important;
}